.tarjeta {
    display: flex;
    align-items: stretch;
    background-color: #ffffff;
    border-radius: 15px;
    min-height: 90px;
  }
.picture{
    padding: 1rem;
    height: 20px;
    display: flex;

    
}
.imagen{
    height: 60px;
}
.tarjeta-fecha{
    font-size: 13px;
    display: flex;
    justify-content: right;
}
.titulo {
    display: flex;
    justify-content: space-between;

}
.contenido{
    width: 460px;
}

.redondeado{
    border-radius: 10px;
}